<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <connectionStrings>
    <add name="check" connectionString="Data Source=.;Initial Catalog=CHECK;User ID=sa; Password=123456"/>
    <!--<add name ="check" connectionString="Data Source=.;Initial Catalog=CHECK; User ID=sa; PassWord=HB2005@data"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <!-- 上传文件大小限制，否则会出现 IO 错误-->
    <httpRuntime maxRequestLength="51200" executionTimeout="60"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
